<% include header %>
	<% if(favorites.length){ %>
		<%favorites.forEach(function(favorites) {%>
		<div class = "panel panel-default">
			<div class = "panel-heading">
				<div class = "text-muted pull-right">
					<%= favorites.published %>
				</div>
				<%= favorites.title %>
			</div> 
			<div class = "panel-body">
				<%= favorites.body %>
			</div>
		</div>
		<% }) %>
	<% } else { %>
		No entries! <a href="/new-entry"> Add a favorite?</a>
	<% } %>

<% include footer %>